#bodyLogin{
    color: white;
}
#logoLogin{
    margin-top: 50px;
    margin-left: 43%;
    margin-bottom: 50px;
}
header .navbar-nav{
    margin-left: 70%;
}
main h3{
    text-align: center;
}
#advertencia{
    color: red;
}
#responseLogin{
    text-align: center;
    color: #ff5a24;
}