//coleres
$color-redes: #CDD6E0;
$color-grey:#9CAFC3;
$color-grey-backg: #F3F5F8;
$Color-White: #FFF;
$Color-black: #000;
$Color-Header: #ff5a24;
$Color-blue: rgb(2, 2, 245);
$Color-blue-title: rgb(40, 150, 255);
$color-gris-modal: rgb(199, 196, 196);
$color-tr-table: #fd6b3c;
$color-dark: #1f1f1f;

//Fuentes
$Fuente:  "Arial", "Helvetica", "sans-serif";